In [1]:
import keras

In [2]:
import glob
import os

In [8]:
import pandas as pd

In [7]:
input_file = r'C:\jupyter_leeji\머신러닝_10_자연어\소스_ALL_자연어_전처리와_Keras분류학습\data\land\clean' #문자열은 잘 닫아야 한다...
output_file = r'C:\jupyter_leeji\머신러닝_10_자연어\소스_ALL_자연어_전처리와_Keras분류학습\data\land\land_all.csv'
allFile_list = glob.glob(os.path.join(input_file, 'land_news_*'))
#print(allFile_list)

['C:\\jupyter_leeji\\머신러닝_10_자연어\\소스_ALL_자연어_전처리와_Keras분류학습\\data\\land\\clean\\land_news_naver_20190809_01.csv', 'C:\\jupyter_leeji\\머신러닝_10_자연어\\소스_ALL_자연어_전처리와_Keras분류학습\\data\\land\\clean\\land_news_naver_20190809_02.csv', 'C:\\jupyter_leeji\\머신러닝_10_자연어\\소스_ALL_자연어_전처리와_Keras분류학습\\data\\land\\clean\\land_news_naver_20190809_03.csv', 'C:\\jupyter_leeji\\머신러닝_10_자연어\\소스_ALL_자연어_전처리와_Keras분류학습\\data\\land\\clean\\land_news_naver_20190809_04.csv']

In [16]:
# # mt_test1 = pd.read_csv(allFile_list)
# df = pd.DataFrame

# for i in allFile_list:
#     a=1#최소 한번은 실행되니 do 문?
#     print(i)
#     df0 = pd.read_csv(str.i) # 한번 for 문이 돌때마다 다른 파일에 저장될수는 없는건가?
#     print(0)

#     #     df = pd.concat([df,df0])
#     #print(df)

C:\jupyter_leeji\머신러닝_10_자연어\소스_ALL_자연어_전처리와_Keras분류학습\data\land\clean\land_news_naver_20190809_01.csv

AttributeError: type object 'str' has no attribute 'i'

In [17]:
allData= [] # 읽어 드린 csv 파일 내용을 저장할 빈 리스트 하나 생성
for file in allFile_list:
    df = pd.read_csv(file, engine='python') # csv 파일 읽어드리기
    allData.append(df)

In [18]:
allData

[                            숨 강동 송파 서초 아파트 값 상 승률 뚝   1
 0                                         뉴시스 관심 등록   1
 1                    서울 재건축 일반 아파트 모두 전주 대비 상승 폭 축소   1
 2                            일산 이번 주 하락 신도시 중 최대 낙폭   1
 3  임병철 부동산 수석 연구원 집값 상승세 제동 것 서울 뉴시스 고범준 기자 서울 강남...  1,
                 송파 헬리 오 프리미엄   1
 0               아시아 경제 관심 등록   1
 1  민간 택지 분양 상한 제 여파 새 아파트 수요   1
 2                      최초 분양   1
 3                       최근 배   1,
                                 주간 청량리역 롯데 캐슬 등 가구   1
 0                                           닥터 아파트   1
 1  월 마지막 주 청약물량 곳 가구 모델하우스 곳 오픈 예정 당첨 발표 곳 당첨 계약 곳   1,
               서울 셋값 상 승률 전주   1
 0  분양 상한 제 기준금리 인하 상방 압력 요인   1]

In [23]:
dataCombine = pd.concat(allData, axis=0, ignore_index=True) # 함수를 이용해서 리스트의 내용의 병함 , 수평으로 병햡,

In [24]:
dataCombine #뭔가 많이 잘못됬는대....

,숨 강동 송파 서초 아파트 값 상 승률 뚝,1,송파 헬리 오 프리미엄,주간 청량리역 롯데 캐슬 등 가구,서울 셋값 상 승률 전주
0,뉴시스 관심 등록,1,NaN,NaN,NaN
1,서울 재건축 일반 아파트 모두 전주 대비 상승 폭 축소,1,NaN,NaN,NaN
2,일산 이번 주 하락 신도시 중 최대 낙폭,1,NaN,NaN,NaN
3,임병철 부동산 수석 연구원 집값 상승세 제동 것 서울 뉴시스 고범준 기자 서울 강남...,1,NaN,NaN,NaN
4,NaN,1,아시아 경제 관심 등록,NaN,NaN
5,NaN,1,민간 택지 분양 상한 제 여파 새 아파트 수요,NaN,NaN
6,NaN,1,최초 분양,NaN,NaN
7,NaN,1,최근 배,NaN,NaN
8,NaN,1,NaN,닥터 아파트,NaN
9,NaN,1,NaN,월 마지막 주 청약물량 곳 가구 모델하우스 곳 오픈 예정 당첨 발표 곳 당첨 계약 곳,NaN
10,NaN,1,NaN,NaN,분양 상한 제 기준금리 인하 상방 압력 요인

In [29]:
# 그냥 외부 프로그램으로 합쳐버림...

sum_news = pd.read_csv('sum_news_naver.csv')
#sum_news
# 아무튼 성공임 그런거임

In [34]:
# sum_news.loc('data')
# sum_news.loc(,0)
sum_news.columns
sum_news['data']

0     이데일리 김정현 기자 원 달러 환율 폭 상승 마감 날 원 달러 환율 방향 견인 국내...
1     코스피 거래 일 반등 코스피지수 전 거래 일보 포인트 오른 장 코스닥 수도 포인트 ...
2     코스피 거래 일 반등 코스피지수 전 거래 일보 포인트 오른 장 코스닥 수도 포인트 ...
3                          지난주 무역 분쟁 격화 환율 요동 일본 갈등 폭락
4                           중국 지표 발표 트럼프 입 주시 코스피 선 예상
5     실적 시즌 마감 인플레이션 기대 반도체 자동차 배당 주목 미국 중국 무역 분쟁 격화...
6                              숨 강동 송파 서초 아파트 값 상 승률 뚝
7                                            뉴시스 관심 등록
8                       서울 재건축 일반 아파트 모두 전주 대비 상승 폭 축소
9                               일산 이번 주 하락 신도시 중 최대 낙폭
10    임병철 부동산 수석 연구원 집값 상승세 제동 것 서울 뉴시스 고범준 기자 서울 강남...
11                                        송파 헬리 오 프리미엄
12                                        아시아 경제 관심 등록
13                           민간 택지 분양 상한 제 여파 새 아파트 수요
14                                               최초 분양
15                                                최근 배
16                                  주간 청량리역 롯데 캐슬 등 가구
17                                              닥터 아파트
18     월 마지막 주 청약물량 곳 가구 모델하우스 곳 오픈 예정 당첨 발표 곳 당첨 계약 곳
19                                       서울 셋값 상 승률 전주
20                            분양 상한 제 기준금리 인하 상방 압력 요인
Name: data, dtype: object

In [36]:
# random.shuffle('sum_news')
sum_news

TypeError: 'str' object does not support item assignment

In [37]:
sum_news = sum_news.shuffle()

AttributeError: 'DataFrame' object has no attribute 'shuffle'

In [38]:
x_t = sum_news['data']
y_t = sum_news['class']

tmp = [[x,y] for x,y in zip(x_t,y_t)]
tmp

[['이데일리 김정현 기자 원 달러 환율 폭 상승 마감 날 원 달러 환율 방향 견인 국내외 모멘텀 것 다만 수입 업체 결제 수요 달러화 점 매수 유입 환율 상승 것 풀이 ',
  0],
 ['코스피 거래 일 반등 코스피지수 전 거래 일보 포인트 오른 장 코스닥 수도 포인트 급등 를 기록 안팎 오른 미국 중국 등 국 증시 비교 가장 상 승률 ',
  0],
 ['코스피 거래 일 반등 코스피지수 전 거래 일보 포인트 오른 장 코스닥 수도 포인트 급등 를 기록 안팎 오른 미국 중국 등 국 증시 비교 가장 상 승률 ',
  0],
 ['지난주 무역 분쟁 격화 환율 요동 일본 갈등 폭락 ', 0],
 ['중국 지표 발표 트럼프 입 주시 코스피 선 예상 ', 0],
 ['실적 시즌 마감 인플레이션 기대 반도체 자동차 배당 주목 미국 중국 무역 분쟁 격화 환율 폭락 국내 증시 이번 주 반등 기회 마련 전망 무역 분쟁 지속 영향 마땅 국내 주식 살 주체 일 전쟁 대한 우려 때문 이로 당분간 관망 세 가운데 중 무역 분쟁 관련 뉴스 위안화 가치 변동 등락 장세 지속 것 ',
  0],
 ['숨 강동 송파 서초 아파트 값 상 승률 뚝 ', 1],
 ['뉴시스 관심 등록 ', 1],
 ['서울 재건축 일반 아파트 모두 전주 대비 상승 폭 축소 ', 1],
 ['일산 이번 주 하락 신도시 중 최대 낙폭 ', 1],
 ['임병철 부동산 수석 연구원 집값 상승세 제동 것 서울 뉴시스 고범준 기자 서울 강남 지역 전세 공급 부족 정도 지표 최저 수준 주택 시장 동향 지난달 기준 서울 강남 세수 지수 로 기준 를 기록 이후 가장 수준 세수 지수 전세 공급 부족 정도 지표 수치 전세 공급 부족 전세 수요 부족 뜻 사진 오후 서울 송파구 서울 아파트 단지 모습 서울 뉴시스 박영환 기자 민간 택지 분양 상한 제 도입 초읽기 서울 아파트 값 오름 폭 크게 둔화 재건축 일반 아파트 모두 상승 폭 ',
  1],
 ['송파 헬리 오 프리미엄 ', 1],
 ['아시아 경제 관심 등록 ', 1],
 ['민간 택지 분양 상한 제 여파 새 아파트 수요 ', 1],
 ['최초 분양 ', 1],
 ['최근 배 ', 1],
 ['주간 청량리역 롯데 캐슬 등 가구 ', 1],
 ['닥터 아파트 ', 1],
 ['월 마지막 주 청약물량 곳 가구 모델하우스 곳 오픈 예정 당첨 발표 곳 당첨 계약 곳 ', 1],
 ['서울 셋값 상 승률 전주 ', 1],
 ['분양 상한 제 기준금리 인하 상방 압력 요인 ', 1]]

In [39]:
import random
random.shuffle(tmp)
tmp

[['중국 지표 발표 트럼프 입 주시 코스피 선 예상 ', 0],
 ['숨 강동 송파 서초 아파트 값 상 승률 뚝 ', 1],
 ['실적 시즌 마감 인플레이션 기대 반도체 자동차 배당 주목 미국 중국 무역 분쟁 격화 환율 폭락 국내 증시 이번 주 반등 기회 마련 전망 무역 분쟁 지속 영향 마땅 국내 주식 살 주체 일 전쟁 대한 우려 때문 이로 당분간 관망 세 가운데 중 무역 분쟁 관련 뉴스 위안화 가치 변동 등락 장세 지속 것 ',
  0],
 ['송파 헬리 오 프리미엄 ', 1],
 ['최근 배 ', 1],
 ['닥터 아파트 ', 1],
 ['코스피 거래 일 반등 코스피지수 전 거래 일보 포인트 오른 장 코스닥 수도 포인트 급등 를 기록 안팎 오른 미국 중국 등 국 증시 비교 가장 상 승률 ',
  0],
 ['임병철 부동산 수석 연구원 집값 상승세 제동 것 서울 뉴시스 고범준 기자 서울 강남 지역 전세 공급 부족 정도 지표 최저 수준 주택 시장 동향 지난달 기준 서울 강남 세수 지수 로 기준 를 기록 이후 가장 수준 세수 지수 전세 공급 부족 정도 지표 수치 전세 공급 부족 전세 수요 부족 뜻 사진 오후 서울 송파구 서울 아파트 단지 모습 서울 뉴시스 박영환 기자 민간 택지 분양 상한 제 도입 초읽기 서울 아파트 값 오름 폭 크게 둔화 재건축 일반 아파트 모두 상승 폭 ',
  1],
 ['분양 상한 제 기준금리 인하 상방 압력 요인 ', 1],
 ['일산 이번 주 하락 신도시 중 최대 낙폭 ', 1],
 ['민간 택지 분양 상한 제 여파 새 아파트 수요 ', 1],
 ['아시아 경제 관심 등록 ', 1],
 ['월 마지막 주 청약물량 곳 가구 모델하우스 곳 오픈 예정 당첨 발표 곳 당첨 계약 곳 ', 1],
 ['코스피 거래 일 반등 코스피지수 전 거래 일보 포인트 오른 장 코스닥 수도 포인트 급등 를 기록 안팎 오른 미국 중국 등 국 증시 비교 가장 상 승률 ',
  0],
 ['서울 셋값 상 승률 전주 ', 1],
 ['최초 분양 ', 1],
 ['지난주 무역 분쟁 격화 환율 요동 일본 갈등 폭락 ', 0],
 ['주간 청량리역 롯데 캐슬 등 가구 ', 1],
 ['뉴시스 관심 등록 ', 1],
 ['이데일리 김정현 기자 원 달러 환율 폭 상승 마감 날 원 달러 환율 방향 견인 국내외 모멘텀 것 다만 수입 업체 결제 수요 달러화 점 매수 유입 환율 상승 것 풀이 ',
  0],
 ['서울 재건축 일반 아파트 모두 전주 대비 상승 폭 축소 ', 1]]

In [45]:

#그냥 처음부터 나눠라야...

from sklearn.model_selection import train_test_split

# 출처: https://ebbnflow.tistory.com/126 [Dev Log : 삶은 확률의 구름]

X_train, X_test, Y_train, Y_test = train_test_split(tmp,random_state=66,shuffle=True)

ValueError: not enough values to unpack (expected 4, got 2)

In [49]:
X_train, X_test= train_test_split(sum_news,random_state=66,shuffle=True)

In [50]:
X_train

                                                 data  class
17                                            닥터 아파트       1
8                     서울 재건축 일반 아파트 모두 전주 대비 상승 폭 축소       1
2   코스피 거래 일 반등 코스피지수 전 거래 일보 포인트 오른 장 코스닥 수도 포인트 ...      0
14                                             최초 분양       1
6                            숨 강동 송파 서초 아파트 값 상 승률 뚝       1
12                                      아시아 경제 관심 등록       1
11                                      송파 헬리 오 프리미엄       1
7                                          뉴시스 관심 등록       1
0   이데일리 김정현 기자 원 달러 환율 폭 상승 마감 날 원 달러 환율 방향 견인 국내...      0
18   월 마지막 주 청약물량 곳 가구 모델하우스 곳 오픈 예정 당첨 발표 곳 당첨 계약 곳       1
10  임병철 부동산 수석 연구원 집값 상승세 제동 것 서울 뉴시스 고범준 기자 서울 강남...      1
15                                              최근 배       1
13                         민간 택지 분양 상한 제 여파 새 아파트 수요       1
19                                     서울 셋값 상 승률 전주       1
20                          분양 상한 제 기준금리 인하 상방 압력 요인       1

In [51]:
import numpy as np

In [54]:
# def te(c):
#     ad = c+1
#     dd = c*2
#     return ad, dd

# a1,a2=te(2)

In [56]:
# a2 #잠시 테스트를 해봄 한번에 두개가 리턴 가능하다 이거지... 하긴 그러니까 스풀링이...

4

In [57]:
from keras_preprocessing.text import Tokenizer

In [63]:
def one_hot(x_in):
    x_data = x_in['data']
    x_class = x_in['class']
    tokenizer = Tokenizer(num_words=1000)
    # 단어 인덱스 구축
    tokenizer.fit_on_texts(sum_news['data'])
#     return tokenizer.index_word, tokenizer.word_index
    sequences = tokenizer.texts_to_sequences(x_data)
    print("sequences : ", sequences)
    one_hot_results = tokenizer.texts_to_matrix(x_data, mode = 'binary')
    print("one_hot_results : ", one_hot_results)
    return one_hot_results, x_class

x_train, y_train = one_hot(X_train)
x_text, y_text = one_hot(X_test)

sequences :  [[185, 2], [1, 60, 61, 2, 62, 63, 135, 5, 4, 136], [21, 7, 22, 23, 39, 40, 7, 41, 8, 9, 42, 43, 44, 8, 45, 24, 25, 46, 9, 26, 10, 27, 47, 28, 48, 29, 11, 12], [178, 17], [131, 132, 56, 133, 2, 57, 11, 12, 134], [174, 175, 58, 59], [56, 171, 172, 173], [32, 58, 59], [74, 75, 19, 36, 37, 3, 4, 5, 38, 76, 36, 37, 3, 77, 78, 79, 80, 6, 81, 82, 83, 84, 20, 85, 86, 87, 88, 3, 5, 6, 89], [186, 187, 31, 188, 18, 72, 189, 18, 190, 191, 73, 51, 18, 73, 192, 18], [142, 143, 144, 145, 146, 147, 148, 6, 1, 32, 149, 19, 1, 64, 150, 15, 33, 16, 65, 30, 151, 66, 152, 153, 154, 155, 67, 1, 64, 68, 69, 156, 67, 24, 25, 157, 29, 66, 68, 69, 15, 33, 16, 65, 30, 158, 15, 33, 16, 15, 20, 16, 159, 160, 161, 1, 162, 1, 2, 163, 164, 1, 32, 165, 19, 70, 71, 17, 34, 35, 166, 167, 1, 2, 57, 168, 4, 169, 170, 60, 61, 2, 62, 5, 4], [179, 180], [70, 71, 17, 34, 35, 176, 177, 2, 20], [1, 193, 11, 12, 63], [17, 34, 35, 194, 195, 196, 197, 198]]
one_hot_results :  [[0. 0. 1. ... 0. 0. 0.]
 [0. 1. 1. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 1. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
sequences :  [[21, 7, 22, 23, 39, 40, 7, 41, 8, 9, 42, 43, 44, 8, 45, 24, 25, 46, 9, 26, 10, 27, 47, 28, 48, 29, 11, 12], [181, 182, 183, 184, 27, 72], [10, 30, 51, 94, 95, 96, 21, 97, 98], [99, 100, 38, 101, 102, 103, 104, 105, 106, 26, 10, 13, 14, 49, 3, 50, 52, 28, 53, 31, 23, 107, 108, 109, 13, 14, 54, 110, 111, 52, 112, 113, 114, 22, 115, 116, 117, 118, 119, 120, 121, 122, 123, 55, 13, 14, 124, 125, 126, 127, 128, 129, 130, 54, 6], [90, 13, 14, 49, 3, 91, 92, 93, 50], [137, 53, 31, 138, 139, 55, 140, 141]]
one_hot_results :  [[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [71]:
y_train = np.asarray(y_train).astype('float32')
y_text =np.asarray(y_text).astype('float32')
#근대 이 과정이 꼭 필요한가? 일단 주석처리해 해보고 나중에 해볼까?

In [72]:
from keras import models
from keras import layers

model = models.Sequential()
model.add(layers.Dense(16,activation='relu',input_shape=(10000,)))
model.add(layers.Dense(16,activation='relu'))
model.add(layers.Dense(1, activation='sigmoid'))

model.compile(optimizer='rmsprop',
             loss='binary_crossentropy',
             metrics=['accuracy'])

In [73]:
x_val = x_train[:100000]
partial_x_train = x_train[100000:]

y_val = y_train[:100000]2
partial_y_train = y_train[100000:]

In [77]:
history = model.fit(partial_x_train,
                   partial_y_train,
                   epochs=20,
                   batch_size=512, #너무 클수도 있다 나중에 조정해 볼껏 (처음 512)
                   validation_data=(x_val,y_val))

Epoch 1/20

ValueError: Expect x to be a non-empty array or dataset.